body{
    font-family: "Inter", sans-serif;
}

.flex{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* ===========
Services_Page_Head
============= */
.service_page_head{
    height: 200px;
    width: auto;
    background-color: #EC904C;
    
}


/* <!-- ===================
services_Page_Section3
==================== --> */

.spage_section3{
         margin-top: 50px;
   
}


.sp_icon_sect3{
    margin-left: 10px;
}
.sp_inner_section3{
    border-radius: 15px;
    box-shadow: 0px 0px 15px  #babebe60;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.sp_btn_col1{
    background-color: #EC904C;
    height: 45px;
    width: 45px;
    border-radius: 40px;
}


.sp_poins_icon{
    color: #EC904C;
}

.sp_section3_col2{
     font-family: "Inter", sans-serif;
     margin-top: 55px;
     padding: 50px;
}
.sp_brn_col2{
    background-color: #EC904C;
    color: #E9F7FF;
    font-weight: 900;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    margin-top: 15px;
}

/* ===========
Services_Page_Banner
============= */
.service_page_banner{
     background-color: #E9F7FF;
     padding: 70px;
    margin-top: 60px;
}

.spage_inner{
    margin-bottom: 60px;
}

.spage_inner_col{
    margin-left: 50px;
    height: 200px;
    width: 300px;
}

.span{
    height: 40px;
    width: 40px;
    background-color: #EC904C;
    color: black;
    border-radius: 15px;
}

/* ===========
Tabs :
============= */

.features{
   background-color: #FDFDFD;
}
.inner-feature{
    text-align: center;
}

.inovation{
    height: 100vh; 
}

.click{
    background-color: #FCFEFE;
    border-radius: 20px;
    box-shadow: 0px 0px 15px  #787c7c86;
    padding: 20px;

}
.icon{
    background-color: #00A19E;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.check1{
    gap: 10px;
}

.check2{
     gap: 10px;
}

.boxx{
    gap: 20px;
}

.h5{
    color: #00A19E;
    font-weight: 700;
}

.buttonfeature{
    width: 170px;
    height: 55px;
    border-radius: 30px;
    color: white;
    font-weight: 900;
}
