body{
    font-family: "Inter", sans-serif;
}

.sp_flex{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* ===========
Services_Page_Head
============= */
.service_page_head{
    height: 200px;
    width: auto;
    background-color: #EC904C;
    
}


/* <!-- ===================
services_Page_Section3
==================== --> */

.spage_section3{
         margin-top: 50px;
}


.sp_icon_sect3{
    margin-left: 10px;
}
.sp_inner_section3{
    border-radius: 15px;
    box-shadow: 0px 0px 15px  #babebe60;
    width: auto;
    height: 350px;
    margin-bottom: 10px;
}

.sp_btn_col1{
    background-color: #EC904C;
    height: 45px;
    width: 45px;
    border-radius: 40px;
}


.sp_poins_icon{
    color: #EC904C;
}

.sp_section3_col2{
     font-family: "Inter", sans-serif;
     margin-top: 55px;
     padding: 50px;
}
.sp_brn_col2{
    background-color: #EC904C;
    color: #E9F7FF;
    font-weight: 900;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    margin-top: 15px;
}

.sp_btn_col2{
    background-color:  #EC904C;
    border: none;
     height: 50px;
    width: 150px;
    border-radius: 30px;
}

/* ===========
Services_Page_Banner
============= */
.service_page_banner{
     background-color: #E9F7FF;
     padding: 70px;
    margin-top: 60px;
}

.spage_inner{
    margin-bottom: 60px;
}

.spage_inner_col{
    margin-left: 50px;
    height: 200px;
    width: 300px;
}

.sp_span{
    height: 40px;
    width: 40px;
    background-color: #EC904C;
    color: black;
    border-radius: 15px;
}

/* ===========
Tabs :
============= */

.features{
   background-color: #FDFDFD;
}
.inner-feature{
    text-align: center;
}

.inovation{
    height: 50vh; 
}

.click{
    background-color: #FCFEFE;
    border-radius: 20px;
    box-shadow: 0px 0px 15px  #787c7c86;
    padding: 20px;

}

.boxx{
    gap: 20px;
}

.h5{
    color: #00A19E;
    font-weight: 700;
}

.buttonfeature{
    width: 170px;
    height: 55px;
    border-radius: 30px;
    color: white;
    font-weight: 900;
}

.sp_tabs_icon{
    color: #EC904C;
}

/* ===========
Last Section :
============= */

.sp_lastsec_btn{
    height: 50px;
    width: 150px;
    background-color: #EC904C;
    color: #E9F7FF;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: 600;
}


#myTab {
    flex-wrap: unset !important;
    overflow-y: hidden;
}

